discord.py==2.5.2
gTTS
asyncio
numpy
ffmpeg-python==0.2.0
uuid
aiofiles==24.1.0
requests==2.32.4
aiofiles
aiohttp
pydub
pynacl
pytz
gspread
google-generativeai
google-genaiDiscord.py==2.5.2
gTTS
asyncio
numpy
ffmpeg-python==0.2.0
uuid
aiofiles==24.1.0
requests==2.32.4
aiohttp
pydub
pynacl
pytz
gspread